<a href="https://colab.research.google.com/github/Mund99/DSUB_5.0/blob/main/Day_10_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Metrics for Evaluating Classification Models 
Calculate the accuracy score for the decision trees of different feature sets that you selected.

Report on the feature sets that give the best performance with its accuracy.

In [1]:
# Import libraries 
import pandas as pd 
import seaborn as sns

# Loading Dataset

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/Mund99/DSUB_5.0/main/Dataset/framingham.csv",sep=",")
df.shape # Getting the (rows x columns)

(4240, 16)

- The dataset contains 4240 rows and 16 columns

In [3]:
df.head(10) # Observe first ten rows

,sex,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
5,0,43,2.0,0,0.0,0.0,0,1,0,228.0,180.0,110.0,30.30,77.0,99.0,0
6,0,63,1.0,0,0.0,0.0,0,0,0,205.0,138.0,71.0,33.11,60.0,85.0,1
7,0,45,2.0,1,20.0,0.0,0,0,0,313.0,100.0,71.0,21.68,79.0,78.0,0
8,1,52,1.0,0,0.0,0.0,0,1,0,260.0,141.5,89.0,26.36,76.0,79.0,0
9,1,43,1.0,1,30.0,0.0,0,1,0,225.0,162.0,107.0,23.61,93.0,88.0,0

- The dataset is recording the 15 types of independent variable and 1 outcome

# Descriptive Analytic Summary

In [4]:
df.describe()

,sex,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
count,4240.000000,4240.000000,4135.000000,4240.000000,4211.000000,4187.000000,4240.000000,4240.000000,4240.000000,4190.000000,4240.000000,4240.000000,4221.000000,4239.000000,3852.000000,4240.000000
mean,0.429245,49.580189,1.979444,0.494104,9.005937,0.029615,0.005896,0.310613,0.025708,236.699523,132.354599,82.897759,25.800801,75.878981,81.963655,0.151887
std,0.495027,8.572942,1.019791,0.500024,11.922462,0.169544,0.076569,0.462799,0.158280,44.591284,22.033300,11.910394,4.079840,12.025348,23.954335,0.358953
min,0.000000,32.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,107.000000,83.500000,48.000000,15.540000,44.000000,40.000000,0.000000
25%,0.000000,42.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,206.000000,117.000000,75.000000,23.070000,68.000000,71.000000,0.000000
50%,0.000000,49.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,234.000000,128.000000,82.000000,25.400000,75.000000,78.000000,0.000000
75%,1.000000,56.000000,3.000000,1.000000,20.000000,0.000000,0.000000,1.000000,0.000000,263.000000,144.000000,90.000000,28.040000,83.000000,87.000000,0.000000
max,1.000000,70.000000,4.000000,1.000000,70.000000,1.000000,1.000000,1.000000,1.000000,696.000000,295.000000,142.500000,56.800000,143.000000,394.000000,1.000000

In [5]:
df.isnull().sum()

sex                  0
age                  0
education          105
currentSmoker        0
cigsPerDay          29
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
TenYearCHD           0
dtype: int64

In [6]:
df = df.dropna()  # Drop all the missing data

In [7]:
train_data = df.drop('TenYearCHD', axis = 1)
train_labels = df['TenYearCHD']

In [8]:
# Import train_test_split function 
from sklearn import tree 
from sklearn.model_selection import train_test_split 

# Split our dataset into training and testing 
X_train, X_test, y_train, y_test = train_test_split(train_data, train_labels, test_size=0.3, random_state=1)

In [9]:
model = tree.DecisionTreeClassifier(max_depth = 3)
model.fit(X_train,y_train)

DecisionTreeClassifier(max_depth=3)

In [10]:
y_pred = model.predict(X_test)

In [11]:
from sklearn import metrics 
print("Accuracy: ", metrics.accuracy_score(y_test,y_pred))

Accuracy:  0.8460837887067395

In [12]:
# Test 2 - Changing the test size 
from sklearn import tree 
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(train_data, train_labels, test_size=0.5, random_state=1)
model = tree.DecisionTreeClassifier(max_depth = 3)
model.fit(X_train,y_train)
y_pred = model.predict(X_test)
from sklearn import metrics 
print("Accuracy: ", metrics.accuracy_score(y_test,y_pred))

Accuracy:  0.8496446145434664

- It seems like the accuracy result does not have much extreme changes in respond to the test size changes

In [13]:
# Test 3 - Changing the max_depth
from sklearn import tree 
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(train_data, train_labels, test_size=0.3, random_state=1)
model = tree.DecisionTreeClassifier(max_depth = 5)
model.fit(X_train,y_train)
y_pred = model.predict(X_test)
from sklearn import metrics 
print("Accuracy: ", metrics.accuracy_score(y_test,y_pred))

Accuracy:  0.8451730418943534

- It happens that the larger the max_depth, the smaller the accuracy result